html {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image:url("Images/clement-duguerre-hXIyFFYwOGo-unsplash.jpg");
    background-size: cover;
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Pacifico';
    font-size: 80px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 1em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5em;
}
